.form{
   text-align: center;
   border-style: double;
   width: 90%;
   padding: 1%;
   margin: 5%;

}

.left{
   margin-left: 45%;
}
#radio{
   text-align: left;
}

#is_package{
   display: none;
   margin-left: 3%;
}
.response{
   text-align: center;
   border: double;
   width: 35%;
   font-weight: bold;
   
}
.main_section{
   display: flex;
   justify-content: center;
/*    margin-left: auto;
    margin-right: auto;
    width: 600px; */
}