<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>My Node.js Projects</p>
    <a type="button" class="btn btn-lg btn-default" href="https://pure-inlet-16693.herokuapp.com/"><span class="glyphicon glyphicon-download"></span> My CSE 341 PHP Repo</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/MalinScott/cse341-node.js"><span class="glyphicon glyphicon-download"></span> My Node.js Github</a>
  </div>
</div>

</body>
</html>
