<!DOCTYPE html>
<html lang="en">
<head>
   <% include ./includes/header.ejs %>

</head>
<body>
  <h1 style="text-align:center;">Project 2</h1>
  <section id="control-center">
   <button id="get-btn">GET Data</button>
   <button id="post-btn">POST Data</button>
 </section>
</body>
</html>