<!DOCTYPE html>
<html lang="en">
<head>
   <% include ./includes/header.ejs %>

</head>
<body>
  <h1 style="text-align:center;">Project 2</h1>
  <section id="control-center">
    <form action="getUser" method="GET">
      <button id="get-btn">GET Data</button>

    </form>
    <form action="registerUser" method="POST">
      <button id="post-btn">POST Data</button>

    </form>
 </section>


 

</body>
</html>